.about {
    margin-top: 10px; /* adjust this value to decrease or increase the spacing between paragraphs */
}

h3.aboutHeader {
    margin: 0% 50% 0% 0%;
}

h2.aboutHeader {
    margin-top: 150px;
}

h3 {
    width:-webkit-fill-available;
}