.chat-window {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: -150px;
  overflow: auto;
  height: 300px;
  background: white;
  position: fixed;
}

.message-text {
  margin: 0;
  width: -webkit-fill-available;
}

.user-input {
  display: flex;
  align-items: center;
  position: fixed;
  width: 500px;
  margin-top: 138px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "RobotoCondensed-Regular", sans-serif;
}

button {
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message-wrapper {
  display: flex;
  justify-content: flex-start; /* This will be overridden for user messages */
  width: 100%;
  height: fit-content;
}

.message-wrapper.user {
  justify-content: flex-end;
}

.message-bubble {
  display: inline-flex;
  max-width: 60%; /* Adjust this value as you see fit */
  padding: 8px;
  border-radius: 8px;
}

.message-bubble.user {
  background-color: #def3f8;
  margin-bottom: 20px;
}

.message-bubble.bot {
  background-color: lightgreen;
  margin-bottom: 20px;
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
