body {
    margin-top: 20%;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    margin: -0.5rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
  }