.create-menu {
  min-height: 270px;
  overflow: auto;
  height: 535px;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 2px;
  position: fixed;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  top: 42%;
  left: 48%;
  transform: translate(-200px, -200px);
}

.small {
  font-size: 14px;
}

.medium {
  font-size: 16px;
}

.large {
  font-size: 18px;
}

.readableText {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-align: justify;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.high {
  background-color: black;
  color: white;
}

.white {
  color: white;
}

.darkgray {
  color: darkgray;
}

.low {
  background-color: lightgray;
  color: darkgray;
  /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
}
