.nav-bar-ul {
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #1feb9a 0%, #26d2a1 74%);
  box-shadow: 0 -6px 20px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3e35",endColorstr="#99f2d1",GradientType=1);
  font-size: 16px;
  height: 56px;
  list-style-type: none;
  margin: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
}

.navbar-image,
.navbar-brand {
  float: left;
}

.navbar-brand {
  margin-top: 100%;
  margin: 50px;
  padding: 0px;
  float: center;
  line-height: 1px;
  text-align: center;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 125px;
}
.dropdown-submenu {
  position: relative;
  color: white;
}

.welcome {
  left: 50%;
  transform: translateX(-50%);
  width: 878px;
  height: 152px;
  margin: 460px auto 0 auto;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  margin-top: 90px;
  margin-left: 950px;
  height: 320px;
  width: 320px;
}

img.headerImg {
  width: 30px;
  height: 34px;
  margin-top: -145px;
  margin-left: -40px;
  margin-top: -60px;
}

.dropdown-submenu-content {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  min-width: 120px;
}

.dropdown-submenu:hover .dropdown-submenu-content {
  display: block;
}

.dropdown-submenu-content a {
  background-color: white;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: RobotoCondensed-Regular;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #333;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.chat-icon {
  width: 60px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  margin-bottom: 70px;
  margin-left: -35px;
}

img.myAccount {
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

img.myMenus {
  vertical-align: middle;
  width: 45px;
  height: 24px;
  margin-left: -10px;
}

img.myGyms {
  vertical-align: middle;
  width: 35px;
  height: 24px;
  margin-left: -10px;
}
